.span10
  %form{:method => 'post', :action => "", :enctype=>"multipart/form-data"}
    %br
    %h2 Add UDVs and UDOs from Excel file
    %br
    %table
      %tr
      %tr
        %td
          Upload Excel containing UDVs and UDOs
          %br
          %br
          %input{:type => 'file', :name => 'file'}
      %tr
        %td
          %br
    %br
    %br
    %input{:type => 'submit', :value => 'Upload' }
